<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOJIvbWDNnMFw0H_vZGBjg6oYp-J3JSQM"></script>
</head>
<body>
  <header>
    <h1>Hamilton Tourism: Waterfall Finder</h1>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <button type="button "class="btn btn-primary btn-lg btn-block" (click)="getWaterFalls()">Display all Waterfalls</button>
      <button type="button "class="btn btn-primary btn-lg btn-block" (click)="clearMarkers()">Remove Markers</button>
      <input type="text" class="form-control" (keypress)="onChangeEvent($event)" placeholder="Search by waterfall name">
      <div class="table-responsive scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Ranking</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentSelectedData">
              <td>{{item.NAME}}</td>
              <td>{{item.TYPE}}</td>
              <td>{{item.RANKING}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="border-top border-dark">
        <h3>Other Tourism Resources</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Click to Visit Site</th>
            </tr>
          </thead>
          <tr>
            <td>Hamilton Tourism</td>
            <td><a class="btn btn-success active" href="https://tourismhamilton.com/" role="button">Visit Me Now!</a></td>
          </tr>
          <tr>
            <td>Hamilton City Events Calendar</td>
            <td><a class="btn btn-success active" href="https://www.hamilton.ca/attractions/events-calendar" role="button">Visit Me Now!</a></td>
          </tr>
        </table>
      </div>
    </div>
  <div *ngIf="apiLoaded | async" class="col-sm-8">
    <google-map
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="zoom">
            <map-marker #marker="mapMarker"
            *ngFor="let markerPosition of currentMarkerPositions"
              [position]="markerPosition"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker)">
            </map-marker>
              <map-info-window>{{this.infoWindowOutput}}</map-info-window>
    </google-map>
</div>
</div>
</div>
</body>
</html>